/* Poppins */
@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins-400.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins-500.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins-600.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins-700.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

/* Inter */
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/inter-400.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/inter-500.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .text-hollow {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
  .text-hollow-black { color: transparent; -webkit-text-stroke: 1px #000; }
}


  
